body {
    background: linear-gradient(-45deg, #ffffff, #d4d4d4, #d1d1d1, #b8b1b1);
	  background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flexbox;
    margin: 1em;
  }

  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1{
    margin-top: 20%;
    text-align: center;
    font-size: 5em;
    font-family: serif;
    background-color: #0ff;
    background-image: linear-gradient(-180deg, #252327, #3f3a3c, #1a1717, #333534);
    animation: gradient 1s ease infinite;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

  }
  
h2{
    margin-bottom: 20%;
    text-align: center;
    font-family: serif;
    color: azure;
  }

p{
    margin-top: 20%;
    margin-bottom: 10%;
    text-align: center;
    font-family: serif;
    color: azure;
  }

.p2{
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: center;
    font-family: serif;
    font-size: 1.5em;
    color: azure;
    font-weight: bolder;
}

.blurry-text {
    text-shadow: 0 0 .5em white;
    color: transparent;
 }

.icon{
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    size: 1em ;
    height: 10%;
    width: 33%;
    fill: url(#linearGradient); 
    transition: fill 2s;
    -box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.icon:hover{
    fill: rgb(203, 255, 255) !important;
    transition: fill 2s;
    animation: cubic-bezier(0.68, -0.55, 0.265, 1.55) !important;
    -stroke: honeydew;
    -stroke-width: .1em;
    -box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ic0on{
    fill: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) !important;
    animation: gradient 15s ease infinite;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    size: 1em ;
    height: 10%;
    width: 33%;
  }

  .path {
  stroke-dasharray: 100;
  animation: dash 20s ease infinite;
  fill: #ffffff00;
  stroke: #a39393;
  stroke-width:70;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:100;
  position: fixed;
  margin: -50%;
  height: 200%;
  width: 200%;
  z-index: -1000;
  filter: url(#blur);

}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}