body {
    background: linear-gradient(-45deg, #eeaeca, #94bbe9, #eeaeca, #2e46cc);
	  background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flexbox;
    margin: 1em;
    overflow-x: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
  }

  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.header-container {
  z-index: -200;
  display: flex;
  justify-content: center;
  position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.center {
  z-index: 100 !important;
  margin: auto;
  width: 90%;
  padding: 10px;
}

/*.header{
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}*/

.h1{
    margin-top: 20%;
    margin-bottom: 10%;
    text-align: center;
    font-size: 5em;
    font-family: 'Alice', serif;
    color: #2e46cc;
    /background-color: #0ff;
    /background-image: linear-gradient(-180deg, #252327, #3f3a3c, #1a1717, #333534);
    /animation: gradient 1s ease infinite;
    /background-size: 100%;
    /-webkit-background-clip: text;
    /-moz-background-clip: text;
    /-webkit-text-fill-color: transparent;
    /-moz-text-fill-color: transparent;

  }
  
h2{
    font-size: 2em;
    margin-bottom: 10%;
    margin-top: 10%;
    text-align: center;
    font-family:'Alice', serif;
    color: #2e46cc;
  }

p{
    margin-top: 20%;
    margin-bottom: 10%;
    text-align: center;
    font-family:'Alice', serif;
    color: #2e46cc;
  }

.p2{
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: center;
    font-family:'Alice', serif;
    font-size: 1.5em;
    color: #2e46cc;
    font-weight: bolder;
}

-blurry-text {
    text-shadow: 0 0 .5em white;
    color: transparent;
 }

 .social-container {
  z-index: -200;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  top: 65%;
  align-items: center;
  display: flex;
  flex-direction: column;
  
}
.social-row {
  display: flex;
}
.icon{
    filter:url(#shadow);
    margin-top: -8em;
    margin-bottom: 4em;
    margin-left: 1em;
    margin-right: 1em;
    
    -height: 10%;
    
    fill: #ffeb7b;
    transition: fill 2s;
    -box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.icon:hover{
    fill: url(#linearGradient); 
    
    transition: fill 5s ease-in-out !important;
    animation: cubic-bezier(0.68, -0.55, 0.265, 1.55) !important;
    -stroke: honeydew;
    -stroke-width: .1em;
    -box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.path-container{
z-index: -5000 !important;
position: sticky !important;
top: 400px;
}

  .path {
  stroke-dasharray: 100,6000,0,1000;
  animation: dash 20s infinite;
  animation-direction: alternate;
  fill: #ffffff00;
  stroke: #ffeb7b;
  stroke-width:20;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:100;
  
  margin: -50%;
  height: 150%;
  width: 150%;
  z-index: -250 !important;
  -filter: url(#blur);

}

@keyframes dash {
  to {
    stroke-dashoffset: 10000;
    animation-direction: alternate;
    animation: infinite;
  }
}

.project{
  z-index: 100 !important;
  -margin-left: 3.5em;
  -margin-right: 3.5em;
  margin-top: 2em;
  
  height: 10%;
  width: 100%;
  display: flexbox;
  border-radius: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

/*header slide out animation
.first-of-type {    
animation: showup 7s ;
}

.last-of-type {
width:0px;
animation: reveal 7s ;
}

.last-of-type span {
margin-left:100%;
animation: slidein 7s ;
}

@keyframes showup {
0% {opacity:0;}
20% {opacity:1;}
80% {opacity:1;}
100% {opacity:1;}
}

@keyframes slidein {
0% { margin-left:100%; }
20% { margin-left:-10em; }
35% { margin-left:0em; }
100% { margin-left:0em}
}

@keyframes reveal {
0% {opacity:0;width:0px;}
20% {opacity:1;width:0px;}
30% {width:50%;}
80% {opacity:1;}
100% {opacity:1;width:50%;}
}
*/

/*Bouncy Arrow*/

* {
	margin: 0;
	padding: 0;
}

.container-footer {
  position: sticky;
  bottom: 1%;
  left: 0;
  right: 0;
  top: 22%;
	background-color: #26a1ff00;
  height: 50%;
  z-index: -10000em;
  
}

.text-label {
	text-transform: uppercase;
	font-family: helvetica;
	font-size: 0.75rem;
	letter-spacing: 0.2em;
	color: #fff;
}

.arrow-circle-down {
  fill: #2e46cc;
  opacity: 1;
	display: block;
	width: 3em;
	height: 3em;
	margin: 1em 0;
	/*fill: #fff;*/
}

.bounce {
	-webkit-animation: bounce 2s;
	        animation: bounce 2s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
	0%,
	25%,
	50%,
	75%,
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-20px);
		        transform: translateY(-20px);
	}
	60% {
		-webkit-transform: translateY(-12px);
		        transform: translateY(-12px);
	}
}

@keyframes bounce {
	0%,
	25%,
	50%,
	75%,
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-20px);
		        transform: translateY(-20px);
	}
	60% {
		-webkit-transform: translateY(-12px);
		        transform: translateY(-12px);
	}
}

/* end bouncy arrow */